@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bruno+Ace&family=Bruno+Ace+SC&family=Ga+Maamli&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Stalinist+One&display=swap");

@import "tailwindcss";

* {
  font-family: outfit;
}

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}
